// Custom styles

@bg-green: #99b83c;
@green: #74b728;
@blue: #21a2ef;
@orange: #ffbd4a;
@cream: #fffad1;
@grey: #ecebe6;


.main {
	text-align: justify;
	font-family: Exo;
}

p, li {
	font-size: 18px;
}

.navbar-default {
	background-color: @bg-green;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

section {
	padding: 30px 0 30px; 
	margin-bottom: 36px;
	&:not(:first-of-type) {
		border-top: 1px solid #e7e7e7;
	}
}

.infographic {
	display: block;
	margin: 48px auto 24px;
	width: 75%;
}

h1 {
	font-family: Amaranth, sans-serif;
}

h3 {
	font-family: Titillium, sans-serif;
	color: @green;
	margin: 16px 0 24px;
}

.btn-row {
	margin-top: 36px;
}

.btn, .btn-embossed, .btn-primary {
	font-family: Titillium, sans-serif;
	background-color: @blue;
	margin-bottom: 8px;
	margin-right: 16px;
	&:hover,:focus,:active {
		background-color: @orange;
		border: 1px solid @orange;
	}
}

.react-sanfona-item-title {
	color: @blue;
	font-size: 16px;
	padding: 8px;
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	&:hover,:focus,:active {
		color: @orange;
		border: 1px solid @orange;
	}
}

.react-sanfona-item-body-wrapper {
	padding: 16px;
	line-height: 1.42;
}

.social a {
	color: @blue;
	padding-right: 16px;
}