// Custom styles

@bg-green: #99b83c;
@green: #74b728;
@blue: #21a2ef;
@orange: #ffbd4a;
@cream: #fffad1;
@grey: #ecebe6;


.main {
	text-align: justify;
	font-family: Exo;
}

p, li {
	font-size: 18px;
}

.navbar-default {
	background-color: @grey;
}

.navbar-nav .navbar-brand {
	font-family: Amaranth, sans-serif;
	font-size: 24px;
}

.flag {
	height: 20px;
}

.row {
	padding: 24px 0;
}

.separation {
	padding-bottom: 24px;
	border-bottom: 1px solid #e7e7e7;
}

.intro {
	padding-bottom: 48px;
}

.intro-logo {
	background-image: url("/images/logo.svg");
	background-repeat: no-repeat;
	height: 400px;
}

.intro-text {
	text-align: center;
	margin: 20% 0;
}

strong {
	font-weight: bold;
	color: @green;
}

.infographic {
	display: block;
	margin: 15px auto;
	width: 95%;
	border-radius: 4px;
}

h1 {
	font-family: Amaranth, sans-serif;
}

h3, h4 {
	font-family: Titillium, sans-serif;
	margin: 16px 0 24px;
}

.grey {
	background-color: @grey;
}

.slack-icon {
	width: 10%;
	margin-bottom: 24px;
}

.btn-row {
	margin: 36px 0 -24px;
}

.btn, .btn-embossed, .btn-primary {
	font-family: Titillium, sans-serif;
	background-color: @blue;
	margin-bottom: 8px;
	margin-right: 16px;
	&:hover,:focus,:active {
		background-color: @orange;
		border: 1px solid @orange;
	}
}

.react-sanfona-item-title {
	color: @blue;
	font-size: 16px;
	padding: 8px;
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	&:hover,:focus,:active {
		color: @orange;
		border: 1px solid @orange;
	}
}

.react-sanfona-item-body-wrapper {
	padding: 16px;
	line-height: 1.42;
}

.accordion {
	padding-bottom: 48px;
}

.social a {
	color: @blue;
	padding-right: 16px;
}