/*
Theme: Flatfy Theme
Author: Andrea Galanti
Bootstrap Version 
Build: 1.0
http://www.andreagalanti.it
*/

/*General */

body, html {
	height: 100%;
	width: 100%;
	overflow-x:hidden;
}

::-moz-selection{background:#21a2ef;color:white}

::selection{background:#21a2ef;color:white}

/*own carousel */

/*magnific */

/* Preloader */


/* Button */
.btn-primary {
	border-color: rgba(52, 73, 94, 0);
}

.social {
	font-size: 30px;
	text-decoration: none;
	list-style-type: none;
	color: #21a2ef; 
}

.social > a:hover {
	color: #21a2ef; 
}

/* Nav */
.navbar {
	position: relative;
	min-height: 60px;
	margin-bottom: 0; 
	width: 100%;
	z-index: 999;
	border-radius: 0; 
}

.navbar-default {
	position: relative;
	min-height: 60px;
	width: 100%;
	z-index: 999;
	
}

.navbar-default .navbar-nav>li>a {
color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
color: #ECEBEB;
}

/* Animate */  



/* Style for form modal */

/* Morph Button: Default Styles */

/* Common styles for overlay and modal type (fixed morph) */

/* Transitions for overlay button and sidebar button */

/* Morph Button Style: Overlay */

/* Morph Button Style: Modal */

/* Colors and sizes for individual modals */

/* Morph Button Style: In the content flow */

/* Colors and sizes for individual in flow buttons */

/* Morph Button Style: Sidebar */

/* Let's add some nice easing for all cases */

/* Helper classes */

/* No JS fallback: let's hide the button and show the content */

/* Media Queries */
/* Media queries!
-------------------------------------------------------------------------------*/

/* 960 Screens */
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
		h1 {
			font-size: 50px;
		}
		
		h3 {
			font-size: 20px;
		}
		
}


/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		h1 {
			font-size: 50px;
		}
		
		h3 {
			font-size: 20px;
		}
		
		
	}

/* Mobile Landscape */

/* Mobile Portrait */

/*
Theme: Flatfy Theme
Author: Andrea Galanti
Bootstrap Version 
Build: 1.0
http://www.andreagalanti.it
*/

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="fui-"] {
*/
body {
	height: 100%;
	width: 100%;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.72222;
  color: #34495e;
  background-color: #ffffff;
}
a {
  color: #34495e;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
a:hover,
a:focus {
  color: #34495e;
  text-decoration: none;
}
a:focus {
  outline: none;
}
h1,
h2,
h3 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 30px;
  margin-bottom: 5px;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 63px;
}
h3 {
  font-size: 30px;
}
p {
  font-size: 16px;
  line-height: 1.72222;
  margin: 0 0 15px;
}
li{list-style-type: initial;}
ul {
  margin-bottom: 15px;
}
.btn {

  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.btn:hover,
.btn:focus {
  outline: none;
  color: #ffffff;
}
.btn:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-primary {
  color: #ffffff;
  background-color: #21a2ef;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #ffffff;
  background-color: #21a2ef;
  border-color: #21a2ef;
}
.btn-primary:active {
  background: #21a2ef;
  border-color: #21a2ef;
}
.navbar {
  font-size: 16px;
  min-height: 53px;
  border: none;
}
.navbar-nav {
  margin: 0;
}
.navbar-nav > li > a {
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: transparent;
}
@media (max-width: 767px) {
  .navbar-nav {
    margin: 0 -21px;
  }
  .navbar-nav > li > a {
    padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	line-height: 40px;
  }
}
.navbar-default {
  background-color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #34495e;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #21a2ef;
  background-color: transparent;
}
/* ============================================================
 * bootstrapSwitch v1.3 by Larentis Mattia @spiritualGuru
 * http://www.larentis.eu/switch/
 * ============================================================
 * Licensed under the Apache License, Version 2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 * ============================================================ */

/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		p{text-align: center;}
		
		h1 {
			font-size: 50px;
		}
		
		h3 {
			font-size: 20px;
			text-align:center
		}
		.social{text-align:center}
		.navbar-nav > li > a {
			font-size: 22px;
			line-height: 42px;
			font-weight: 400;
			text-align: center;
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		
		h1 {
			font-size: 50px;
		}
		
		h3 {
			font-size: 20px;
			
		}
		
		
		
		
	}