.main {
  text-align: justify;
  font-family: Bitter, serif;
}
.navbar-default {
  background-color: #9ab83e;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
section {
  border-bottom: 1px solid #e7e7e7;
  padding: 30px 0 30px;
  margin-bottom: 36px;
}
section:not(:first-of-type) {
  border-top: 1px solid #e7e7e7;
}
.infographic {
  display: block;
  margin: 48px auto 24px;
  width: 75%;
}
h1 {
  font-family: Amaranth, sans-serif;
}
h3 {
  font-family: Titillium, sans-serif;
  color: #9ab83e;
  margin: 16px 0 24px;
}
.btn-row {
  margin-top: 36px;
}
.btn,
.btn-embossed,
.btn-primary {
  font-family: Titillium, sans-serif;
  background-color: #0795c3;
  margin-bottom: 8px;
  margin-right: 16px;
}
.btn:hover,
.btn-embossed:hover,
.btn-primary:hover,
.btn :focus,
.btn-embossed :focus,
.btn-primary :focus,
.btn :active,
.btn-embossed :active,
.btn-primary :active {
  background-color: #fd6818;
  border: 1px solid #fd6818;
}
.react-sanfona-item-title {
  color: #0795c3;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
}
.react-sanfona-item-title:hover,
.react-sanfona-item-title :focus,
.react-sanfona-item-title :active {
  color: #fd6818;
  border: 1px solid #fd6818;
}
.react-sanfona-item-body-wrapper {
  padding: 16px;
  line-height: 1.42;
}
.social a {
  color: #0795c3;
  padding-right: 16px;
}
