.main {
  font-family: 'Droid Sans', serif;
}
p,
li {
  font-size: 16px;
}
.about-text ul {
  padding-left: 16px;
}
.about-text li {
  list-style: none;
}
.about-text li:before {
  font-family: FontAwesome;
  content: "\f192";
  color: #74b728;
  font-size: 11px;
  padding-right: 8px;
}
.navbar {
  background-color: transparent;
}
.navbar .nav li > a {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}
.navbar .nav li > a:hover {
  color: white;
  background-color: #21a2ef;
  border-radius: 16px;
}
.nav li > a.join {
  color: #777;
}
.navbar .flag {
  height: 20px;
}
.row {
  padding: 24px 0;
}
.separation {
  padding-bottom: 36px;
  border-bottom: 1px solid #e7e7e7;
}
.intro {
  background-image: url("/images/background.png");
}
.intro h3 {
  color: white;
}
.intro-logo {
  background-image: url("/images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}
.intro-text {
  text-align: right;
  margin: 20% 0;
}
.intro-text p {
  font-size: 18px;
}
.works p {
  margin-top: 16px;
  font-size: 14px;
  color: #777;
}
.infographic {
  display: block;
  margin: 8px auto 16px;
  width: 95%;
  border-radius: 4px;
}
strong {
  font-weight: bold;
}
h1,
h2,
h3 {
  font-family: 'Droid Serif', sans-serif;
}
h1 {
  color: white;
  font-family: Exo-SemiBold, serif;
}
h2 {
  color: #74b728;
  font-size: 32px;
  text-align: center;
  margin: -30px 0 48px;
}
h3 {
  font-size: 26px;
  margin: 16px 0 24px;
  color: #777;
}
.explanation {
  font-size: 22px;
  font-family: 'Droid Serif', sans-serif;
  color: #777;
  text-align: center;
}
.explanation-paragraph {
  text-align: center;
  padding-top: 48px;
}
.about-pic {
  margin-top: 64px;
  border-radius: 4px;
}
.why {
  color: white;
  font-size: 30px;
}
.solution {
  margin-top: -24px;
}
.small-logo {
  max-height: 80px;
}
.grey {
  background-color: #f3f3f3;
}
.slack-icon {
  margin-top: 72px;
}
.btn-row {
  margin: 36px 0 -24px;
}
.btn,
.btn-embossed,
.btn-primary {
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  background-color: #99ecfe;
  border-radius: 8px;
  margin-bottom: 8px;
}
.btn:hover,
.btn-embossed:hover,
.btn-primary:hover,
.btn :focus,
.btn-embossed :focus,
.btn-primary :focus,
.btn :active,
.btn-embossed :active,
.btn-primary :active {
  background-color: #21a2ef;
  border: 1px solid #21a2ef;
  color: white;
}
.react-sanfona-item-title {
  color: #21a2ef;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
}
.react-sanfona-item-title:hover,
.react-sanfona-item-title :focus,
.react-sanfona-item-title :active {
  color: #ffbd4a;
  border: 1px solid #ffbd4a;
}
.react-sanfona-item-body-wrapper {
  padding: 16px;
  line-height: 1.42;
}
.accordion {
  padding-bottom: 36px;
}
.social a {
  color: #444;
  margin-right: 8px;
  padding: 8px;
}
.social a:hover {
  color: white;
  background-color: #21a2ef;
  border-radius: 36px;
}
.footer {
  padding-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .intro p {
    font-size: 14px;
  }
  .intro-logo {
    margin: -24px auto 36px;
  }
}
@media screen and (max-width: 1199px) {
  .infographic {
    margin: 36px auto;
  }
}
